@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/globalFont/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/globalFont/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hewitt";
  src: url("./assets/fonts/cooper-hewitt.bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-text: #120028;
  --color-background-header: #e9e3f3;
  --color-background-body: #f4effa;
  --color-primary: #4a2675;
  --color-secondary: #9c94d9;
  --color-accent: #a020f0;
}

.dark {
  --color-text: #f3e8ff;
  --color-background-header: #0d0019;
  --color-background-body: #18012b;
  --color-primary: #b893ff;
  --color-secondary: #3a3170;
  --color-accent: #a020f0;
}

@theme {
  --color-text: var(--color-text);
  --color-background-header: var(--color-background-header);
  --color-background-body: var(--color-background-body);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: "Inter", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-hewitt: "Hewitt", sans-serif;
}

body {
  min-height: 100vh;
  max-height: 100%;
  background-color: var(--color-background-body);
  color: #fff;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.font-hewitt-bold {
  font-family: "Hewitt", sans-serif;
  font-weight: 700;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.hide-date-icon {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.hide-date-icon::-webkit-calendar-picker-indicator {
  display: none;
}

.hide-date-icon::-webkit-inner-spin-button,
.hide-date-icon::-webkit-clear-button {
  display: none;
}

.tofocous-day-picker {
  --rdp-day-width: 2rem;
  --rdp-day-height: 2rem;
  --rdp-day_button-width: 2rem;
  --rdp-day_button-height: 2rem;
  --rdp-day_button-border-radius: 0.4rem;

  font-size: 0.9rem;
}

.tofocous-day-picker .rdp-month_caption {
  font-size: 1rem;
  font-weight: 700;
}

.tofocous-day-picker .rdp-weekday {
  font-size: 0.8rem;
}

.tofocous-day-picker .rdp-nav {
  transform: scale(0.85);
  transform-origin: right center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}